* {
	box-sizing: border-box;
}

body {
    margin: 0 auto;
}
.hidden{
	display: none;
}

.title  .name-h1{
color: black;
margin: 20px 0 20px 0;
}
.container {
    border: 10px double #a43d96;
    background-color: #c95e9f;
    border-bottom: none;
	min-height: 100vh;

}
.container .img-title {
    display: flex;
    background-color: #933c88;
    border-bottom: 10px double #a43d96;
	justify-content: center;
	align-items: center;
}


.section2-title img{
	
	width: 20%;
	border-radius: 100%;
	
}

.container .img-title img{
 width: 50%;
 border-radius: 40px;
}
.container .name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	
}
.name>*{
	margin: 10px;
}
.name .input-name {
    border-radius: 20%;
    padding: 20px;
    border: 0;
}
.error-message{
	font-size: 30px;
	margin: 20px;
	color: #5f1b6b;
	display: block;
}
.name .button-start:hover {
    background-color: #ed70fd;
    color: black;
    scale: 1.1;
}
.name .button-start {
    transition: all 1s;
	padding: 20px;
    border-radius: 10px;
    background-color: #8d469a;
    color: white;
    border: none;
    cursor: pointer;
   
}

.häng-title{
	margin-left: 30px;
}
.ready-title{
	
	color: #6e147a;
	margin-left: 20px;
	font-size: 18px;
	margin-right: 10px;
	
}
@media screen and (max-width:450px){
	.section2-title img{
		display: none;
	}

}
@media screen and (max-width:650px){
	.name{
	margin-top: 50px;
	}
}