body {
    margin: 0 auto;
}
.hidden{
	display: none;
}
.welcome-title{
	color: #34043c;
	box-shadow: 5px 5px 30px 3px #34043c;
	padding: 20px;
	font-size: 35px;
}
.name-h1{
color: black;
margin: 20px 0 20px 0;
}
.container {
    border: 10px double #a43d96;
    background-color: #c95e9f;
    border-bottom: none;
	min-height: 100vh;
}
.container .img-title {
    display: flex;
    background-color: #b95fad;
    border-bottom: 10px double #a43d96;
}
.container .img-title .img-2 {
    width: 30%;
    border-radius: 20%;
    box-shadow: 5px 5px 5px #8d469a;
}
.container .img-title .img-1 {
    width: 70%;
}
.container .name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 10px double #a43d96;
	height: 100vh;
}
.name>*{
	margin: 30px;
}
.name .input-name {
    border-radius: 20%;
    padding: 20px;
    border: 0;
}
.error-message{
	font-size: 30px;
	margin: 20px;
	color: #5f1b6b;
	display: block;
}
.name .button-start:hover {
    background-color: #ed70fd;
    color: black;
    scale: 1.1;
}
.name .button-start {
    transition: all 1s;
    margin-top: 40px;
    height: 50px;
    border-radius: 10px;
    background-color: #8d469a;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    margin: 20px;
}
.name {
    box-shadow: inset 5px 5px 50px 10px rgb(167, 47, 167);
}
