* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* WIN- AND GAME OVER -SCENES */

.win-gameover {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #c95e9f;
}

 .win-gameover button {
    border-radius: 10px;
    padding: 1rem;
    margin: 0.5rem;
    border: 5px solid #34043c;
    background-color: #c95e9f;
    transition: background-color 0.3s;
    font-size: larger;
    font-weight: 600;
}

.win-gameover button:hover {
    background-color: #ed70fd;
}

.win-gameover .big-title {
    font-size: 110px;
    border-bottom: 5px solid #34043c;
    padding-bottom: 0;
}

.win-gameover .right-word-container {
    text-align: center;
    font-size: x-large;
}

.win-gameover #word-of-game {
    font-size: 70px;
}

.win-gameover .buttons {
    display: flex;
    flex-direction: column;
}

.win-gameover .user-name {
    font-size: 90px;
}
/* .hidden{
	display: none;
} */